<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Basra</title>
        <link rel="stylesheet" href="../static/all_styles.css" />
        <link rel="icon" href="../static/logo.svg" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <header>
            <h1>Basra</h1>
        </header>
        <div class="error_area hidden">
            <h5 class="error_area_h5"></h5>
        </div>


            {% block main %}
            {% endblock %}
    </body>
</html>